{% extends 'base.html' %}
{% block header %}
	<h1>{% block title %}HELLO FROM TEMPLATE{% endblock %}</h1>
{% endblock %}
{% block body %}
	<ul>
	{% for repo_name in repositories %}
		<li>
			{% set id = "repo_delete_"+repo_name %}
			{{ repo_name }}
			<form id="{{ id }}" action="{{ url_for('confirm') }}" method="POST" hidden >
				<input type="text" name="action" value="{{ url_for('index') }}" readonly />
				<input type="text" name="method" value="DELETE" readonly />
				<input type="text" name="target" value="{{ repo_name }}" readonly />
				<input type="text" name="url_from" value="{{ url_for('index') }}" readonly />
			</form>
			<button form="{{ id }}">DEL</button>
		</li>
	{% endfor %}
	</ul>
	<form id="repo_create" action="{{ url_for('index') }}" method="POST">
		<label for="name">Repo name:</label>
		<input type="text" id="name" name="target" required />
	</form>
	<button form="repo_create">Create</button>
{% endblock %}
